/*Entire thing needs mobile and possible cross browser responsiveness.*/

html, body {
    background: white;
    font-family: 'Josefin Slab', serif;
    margin: 0;
    height: 100%;
}

/*Change background image depending on location she will working.
Need a cleaner transition from image to page. Not sure what to add content
wise though.*/

.jersey {
  background-image: linear-gradient(transparent 10%, transparent 83%, white 92%), url("../images/img2.jpg");
  background-size: cover;
  height: 720px;
}

/* A real navbar did not seem justified given the small amount of content. 
However am considering adding an opaque bar across screen to replace the
transition*/

#topnav{
   overflow: hidden;
   display: flex;
   justify-content: space-between;
  }
  
  #topnav a {
    text-decoration: none;
    padding: 14px 16px;
    color: rgb(243, 243, 243);
      -o-transition:color .3s ease-out;
    -ms-transition:color .3s ease-out;
    -moz-transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
    border-style: solid;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    border-radius: 0px 0px 25px 25px;
    -o-transition:background-color .8s ease-out;
    -ms-transition:background-color .8s ease-out;
    -moz-transition:-background-color .8s ease-out;
    -webkit-transition:background-color .8s ease-out;
    transition:background-color .8s ease-out;
  }

  #topnav a:hover {
    color: #292929;
    background-color: rgb(243, 243, 243, 0.5);
  }

  
  .contact {
    font-size: 20px;
    margin-top: 2px;
    margin-left: 15%;
    font-family: 'Alegreya', serif;
  }
  .social {
    font-size: 20px;
    margin-top: 2px;
    font-family: 'Alegreya', serif;
  }

  .meet {
    font-size: 20px;
    margin-top: 2px;
    margin-right: 15%;
    font-family: 'Alegreya', serif;
  }

/*Need to change font on hook. Hard to see with background.
Needs better positioning on name and hook all around.*/

  .company { 
    color: rgb(243, 243, 243);
    margin-top: 120px;
    text-align: center;
    font-size: 120px;
    font-family: 'Tangerine', cursive;
    cursor: default;
    opacity: 0.6;
 }

 .hook {
  color: rgb(255, 255, 255);
  margin-top: 25px;
  margin-left: 220px;
  font-size: 100px;
  cursor: default;
  font-family: 'Tangerine', cursive;
  opacity: 0.9;
 }
  
 /*Possibly add hover to make slider look like its lifting when script
 pauses. Also considering putting bio and slider side by side to have a
 more concrete meet joanna section. Will need to adjust slider to images
 she provides, or if I can I will resize them with gimp.*/

#slider {
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  height: 400px;
  overflow: hidden;
  border-style: solid;
  border-width: 0px;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 3px gray;
}

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}

  .bio {
      border-style: solid;
      border-color: #444545;
      color: white;
      background-color: #444545;
      border-width: 1px;
      margin: 2% 15% 3% 15%;
      border-radius: 4px;
      font-size: 18px;
      box-shadow: 0px 0px 6px 1px black;
  }

  .tab {
      text-indent: 40px;
      margin: 20px 45px 20px 45px;
  }
  
  .quote { 
    font-size: 70px;
    color: #0065FF;
    text-shadow: 0px 0px #444545;
      text-align: center;
      position: relative;
      font-family: 'Alegreya', serif;
 } 

 .bullets {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     margin-bottom: 7%;
     text-align: center;
 }
 .customer {
    margin-left: 15%;
 }

 .coverage {
     margin-right: 4%;
 }

 .business {
     margin-right: 15%;
 }

 .visitme {
     text-align: center;
     font-size: 90px;
     font-weight: light;
     color: grey;
     font-family: 'Alegreya', serif;
 }

 .addressword {
  margin-left: 15%;
  font-size: 30px;
  color: red;
}

 .address {
     margin-left: 15%;
     font-size: 25px;
     color: #444545;
 }

#contactsec {
    display: flex;
    justify-content: flex-start;
}

.formcomment {
    margin-left: 2%;
    font-size: 20px;
    margin-top: -8%;
}

::placeholder {
  color: white;
  font-family: 'Josefin Slab', serif;
}

.form input[type=text], input[type="email"], textarea {
    width: 50%;
    padding: 5px 10px;
    margin: 4px 0;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 2%;
    font-family: 'Josefin Slab', serif;
    background-color: #444545;
    color: white;
    resize: none;
}
.form input[type=submit] {
  display: relative;
  font-size: 30px;
  margin-right: 250px;
  margin-left: 250px;
  background-color: rgb(243, 243, 243);
  border: none;
  cursor: pointer;
  font-family: 'Josefin Slab', serif;
  color: #444545;
}

  .form input[type=submit]:hover{
    color: gray;
    -o-transition:color .3s ease-out;
    -ms-transition:color .3s ease-out;
    -moz-transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
  }


 iframe {
    width: 100%;
    margin-left: 15%;
 }

p2 {
    margin-top: 3%;
    display: block;
    text-align: center;
    font-size: 24px;  
    color: #444545 
}

.personal {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 35px;
    line-height: 1.3;
    color: #444545;
}

.home img{
    display: block;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    width: 70%;
    height: 40em;
}

#bottomnav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    background-image: linear-gradient(to top, right, left, white, rgb(243, 243, 243)); ;
    border-top:  0px solid gray;
    border-right: 0px solid gray;
    border-left: 0px solid gray;
    border-radius: 10px 10px 0px 0px;
}

.facebook img {
    max-width: 48px;
    max-height: 48px;
    margin-right: 50px;
    margin-top: 35px;
}

.twitter img {
    max-width: 48px;
    max-height: 48px;
    margin-right: 45px;
    margin-top: 35px;
}

.googleplus img {
    max-width: 48px;
    max-height: 48px;
    margin-right: 25px;
    margin-top: 35px;
}