html, body {
    background: rgb(243, 243, 243);
    font-family: 'Josefin Slab', serif;
    margin: 0;
    height: 100%;
}

#topnav{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient( white, rgb(243, 243, 243));
   overflow: hidden;
  }
  
  #topnav a {
    text-decoration: none;
    padding: 14px 16px;
    color: #444545;
      -o-transition:color .3s ease-out;
    -ms-transition:color .3s ease-out;
    -moz-transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
  }

  #topnav a.contact:hover {
    color: #BEBEBE;
  }

  .company { 
    margin-top: 45px;
    margin-left: 200px;
    font-size: 70px;
    word-wrap: break-word;
    width: 350px;
    font-family: 'Tangerine', cursive;
 }

  .contact {
    align-self: center;
    font-size: 30px;
    margin-right: 250px;
    margin-top: 25px;
    font-size: 40px;
    font-family: 'Alegreya', serif;
  }
   
#slider {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  height: 400px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}

  .bio {
      border-style: solid;
      border-color: #444545;
      color: white;
      background-color: #444545;
      border-width: 1px;
      margin: 2% 15% 3% 15%;
      border-radius: 4px;
      font-size: 18px;
      box-shadow: 0px 0px 6px 1px black;
  }

  .tab {
      text-indent: 40px;
      margin: 20px 45px 20px 45px;
  }
  
  .quote { 
    font-size: 70px;
    color: #0065FF;
    text-shadow: 0px 0px #444545;
      text-align: center;
      position: relative;
      font-family: 'Alegreya', serif;
 } 

 .bullets {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     margin-bottom: 7%;
     text-align: center;
 }
 .customer {
    margin-left: 15%;
 }

 .coverage {
     margin-right: 4%;
 }

 .business {
     margin-right: 15%;
 }

 .visitme {
     text-align: center;
     font-size: 90px;
     font-weight: light;
     color: grey;
     font-family: 'Alegreya', serif;
 }

 .addressword {
  margin-left: 15%;
  font-size: 30px;
  color: red;
}

 .address {
     margin-left: 15%;
     font-size: 25px;
     color: #444545;
 }

#contactsec {
    display: flex;
    justify-content: flex-start;
}

.formcomment {
    margin-left: 2%;
    font-size: 20px;
    margin-top: -8%;
}

::placeholder {
  color: white;
  font-family: 'Josefin Slab', serif;
}

.form input[type=text], input[type="email"], textarea {
    width: 50%;
    padding: 5px 10px;
    margin: 4px 0;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 2%;
    font-family: 'Josefin Slab', serif;
    background-color: #444545;
    color: white;
    resize: none;
}
.form input[type=submit] {
  display: relative;
  font-size: 30px;
  margin-right: 250px;
  margin-left: 250px;
  background-color: rgb(243, 243, 243);
  border: none;
  cursor: pointer;
  font-family: 'Josefin Slab', serif;
  color: #444545;
}

  .form input[type=submit]:hover{
    color: gray;
    -o-transition:color .3s ease-out;
    -ms-transition:color .3s ease-out;
    -moz-transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
  }


 iframe {
    width: 100%;
    margin-left: 15%;
 }

p2 {
    margin-top: 3%;
    display: block;
    text-align: center;
    font-size: 24px;  
    color: #444545 
}

.personal {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 35px;
    line-height: 1.3;
    color: #444545;
}

.home img{
    display: block;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    width: 70%;
    height: 40em;
}

#bottomnav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    background-image: linear-gradient(to top, right, left, white, rgb(243, 243, 243)); ;
    border-top:  0px solid gray;
    border-right: 0px solid gray;
    border-left: 0px solid gray;
    border-radius: 10px 10px 0px 0px;
}

.facebook img {
    max-width: 48px;
    max-height: 48px;
    margin-right: 50px;
    margin-top: 35px;
}

.twitter img {
    max-width: 48px;
    max-height: 48px;
    margin-right: 45px;
    margin-top: 35px;
}

.googleplus img {
    max-width: 48px;
    max-height: 48px;
    margin-right: 25px;
    margin-top: 35px;
}